{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="card-header d-flex justify-content-between align-items-center p-3" style="border-top: 4px solid #ffa900;">
    <h5 class="mb-0">Chat messages | friend request</h5>
    <div class="d-flex flex-row align-items-center">
        <span class="badge bg-warning me-3 text-black">@ {{request.user.username}}</span>
        <!-- <i class="fas fa-minus me-3 text-muted fa-xs"></i>
  <i class="fas fa-comments me-3 text-muted fa-xs"></i>
  <i class="fas fa-times text-muted fa-xs"></i> -->
    </div>
</div>



{% include "chatapp/includes/navigation-bar.html" %}



<div class="card-body" data-mdb-perfect-scrollbar="true" style=" overflow-y:scroll; position: relative; height: 400px">


    {% for fri_request in f_requests %}


    <div class="d-flex justify-content-between p-2 border rounded">
        <div class="row align-items-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                style="height: 50px;" class="rounded float-start  " alt="...">
        </div>


        <div class="">
            <h5>{{fri_request.sender.username}}</h5>
            <p class="small mb-1 text-muted">200 folowers</p>
            <!-- here i definf custom id data-id -->
            <button type="button" data-id="{{ fri_request.sender.id }}"
                class="btn btn-primary position-relative  confirm-btn">
                Confirm
            </button>
            <button type="button" class="btn btn-secondary position-relative remove-btn ">
                delete
            </button>
        </div>
    </div>
    <br>

    {% endfor %}



</div>
<div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">

</div>




<!-- logic of geting id of individual friend -->
<script>


    async function postJSON(data, btn) {
        let url = "{% url 'accept-request' %}"
        let options = {
            method: "POST", // or 'PUT'
            headers: {
                "Content-Type": "application/json",
                //django crsftoken
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(data),
        }

        try {
            const response = await fetch(url, options);
            const result = await response.json();
            console.log("Success:", result);
            if (result == "Yes") {
                btn.innerText = "Confirmed"
                btn.classList.add("disabled");
                btn.nextElementSibling.classList.add("disable");
            }


        } catch (error) {
            console.error("Error:", error);
        }
    }

    let confBtns = document.querySelectorAll(".confirm-btn")
    for (let btn of confBtns) {
        btn.addEventListener("click", addFriend)

    }





    function addFriend(e) {
        console.log(e.target);
        let data = e.target.dataset.id
        let btn = e.target
        postJSON(data, btn);
    }



</script>


{% endblock content %}