{% extends "base.html" %}

{% load static %}


{% block content %}

<div class="card-header d-flex justify-content-between align-items-center p-3" style="border-top: 4px solid #ffa900;">
    <h5 class="mb-0">Chat messages</h5>
    <div class="d-flex flex-row align-items-center">
        <span class="badge bg-warning me-3 text-black">@ {{request.user.username}}</span>
        <!-- <i class="fas fa-minus me-3 text-muted fa-xs"></i>
  <i class="fas fa-comments me-3 text-muted fa-xs"></i>
  <i class="fas fa-times text-muted fa-xs"></i> -->
    </div>
</div>



<div class="card-header d-flex justify-content-between align-items-center p-3">

    <button type="button" class="btn btn-primary position-relative ">
        <span class="material-symbols-outlined">
            notifications
        </span>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">unread messages</span>
        </span>
    </button>



    <a href="{% url 'suggestions' %}">
        <button type="button" class="btn btn-primary position-relative ">
            <span class="material-symbols-outlined">
                group_add
            </span>
        </button>
    </a>


    <button type="button" class="btn btn-primary position-relative ">
        <span class="material-symbols-outlined">
            diversity_3
        </span>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">unread messages</span>
        </span>
    </button>



    <button type="button" class="btn btn-primary position-relative ">
        <span class="material-symbols-outlined">
            logout
        </span>

    </button>

    <button type="button" class="btn btn-primary position-relative ">
        <span class="material-symbols-outlined">
            notifications
        </span>

    </button>


</div>



<div class="card-body" data-mdb-perfect-scrollbar="true" style=" overflow-y:scroll; position: relative; height: 400px">


    {% for friend in s_friends  %}
      

    <div class="d-flex justify-content-between p-2 border rounded">
        <div class="row align-items-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                style="height: 50px;" class="rounded float-start  " alt="...">
        </div>
        <div class="">
            <h5>{{ friend.username }}</h5>
            <p class="small mb-1 text-muted">200 folowers</p>
            <button type="button" class="btn btn-primary position-relative ">
                Add friend
            </button>
            <button type="button" class="btn btn-secondary position-relative ">
                Remove
            </button>
        </div>
    </div>

    <br>

    {% endfor %}

</div>
<div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
    <div class="input-group mb-0">
        <input type="text" class="form-control" placeholder="Type message" aria-label="Recipient's username"
            aria-describedby="button-addon2" />
        <button class="btn btn-warning" type="button" id="button-addon2" style="padding-top: .55rem;">
            Button
        </button>
    </div>
</div>


{% endblock content %}